@model Escalation.Model.Game
@{
    ViewBag.Title = "Start New Game";
}

<div class="row">
    <div class="col-md-12">
        Please sign in to save your progress as you play.
    </div>
    <div class="col-md-12">

        @using (Html.BeginForm("StartNewSubmit", "GameManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Value = "New Game" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LeaderName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.LeaderName, new { @class = "form-control", Value = "President Trump" })
                        @Html.ValidationMessageFor(m => m.LeaderName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <input type="Submit" value="Start" />
        }
    </div>

</div>