@model Escalation.Model.Game
@{
    ViewBag.Title = "Start New Game";
}

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("StartNewSubmit", "GameManagement", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>New Game</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control", Value = "New Game" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LeaderName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LeaderName, new { @class = "form-control", Value = "President Reagan" })
                    @Html.ValidationMessageFor(m => m.LeaderName, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NationName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.NationName, new { @class = "form-control", Value = "the United States of America" })
                        @Html.ValidationMessageFor(m => m.NationName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EnemyName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EnemyName, new { @class = "form-control", Value = "the Soviet Union" })
                        @Html.ValidationMessageFor(m => m.EnemyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.EnemyLeaderName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.EnemyLeaderName, new { @class = "form-control", Value = "Mikhail Gorbachev" })
                        @Html.ValidationMessageFor(m => m.EnemyLeaderName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <input type="Submit" value="Start" />
        }
    </div>

</div>